(function() {
  var _$_moduleFns = {};
  var _$_modules = {};
  var _$_mainModuleId = @mainModuleId;
  var _$_moduleMap = @moduleMap;

  function _$_require(id) {
    var moduleFn = _$_moduleFns[id];
    if (moduleFn) {
      var mod = _$_modules[id];
      if (!mod) {
        mod = _$_modules[id] = {
          id: id,
          exports: {},
          bundleUrl: JSBUNDLE_URL
        };
        if (id === _$_mainModuleId) {
          _$_require.main = mod;
        }
        moduleFn(mod, mod.exports, _$_require, id);
      }
      return mod.exports;
    } else {
      throw new Error("Cannot find module '" + id + "'");
    }
  }

  var _$_scriptsToLoad = @scriptsToLoad;

  function _$_initIfReady() {
    for (var i = 0, len = _$_scriptsToLoad.length; i < len; i++) {
      if (_$_scriptsToLoad[i]) {
        return;
      }
    }

    _$_require(_$_mainModuleId);
  }

  (function() {
    var hasOwnProp = Object.prototype.hasOwnProperty;

    function registerScriptLoad(url, index) {
      _$_scriptsToLoad[index] = null;
      _$_initIfReady();
    }

    function loadScript(url, index) {
      var scriptNode = document.createElement('script');
      scriptNode.setAttribute('src', url);

      scriptNode.onload = function() {
        if (!scriptNode.onloadDone) {
          scriptNode.onloadDone = true;
          registerScriptLoad(url, index);
        }
      };
      scriptNode.onreadystatechange = function() {
        if ((scriptNode.readyState === 'loaded' || scriptNode.readyState === 'complete') &&
            !scriptNode.onloadDone) {
          scriptNode.onloadDone = true;
          registerScriptLoad(url, index);
        }
      };

      document.getElementsByTagName('head')[0].appendChild(scriptNode);
    }


    if (typeof document === 'undefined' ||
        !document.createElement ||
        !document.getElementsByTagName) {
      // no DOM, so don't load external scripts
      _$_scriptsToLoad = [];
    } else {
      for (var i = 0, len = _$_scriptsToLoad.length; i < len; i++) {
        loadScript(_$_scriptsToLoad[i], i);
      }
    }
  })();

  @moduleDefs

  @appends

  _$_initIfReady();

})();

