(function() {
  var _$_moduleFns = {};
  var _$_modules = {};
  var _$_mainModuleId = @mainModuleId;
  var _$_moduleMap = @moduleMap;

  function _$_require(id) {
    var moduleFn = _$_moduleFns[id];
    if (moduleFn) {
      var mod = _$_modules[id];
      if (!mod) {
        mod = _$_modules[id] = {
          id: id,
          exports: {},
          bundleUrl: @bundleUrl
        };
        if (id === _$_mainModuleId) {
          _$_require.main = mod;
        }
        moduleFn(mod, mod.exports, _$_require, id);
      }
      return mod.exports;
    } else {
      throw new Error("Cannot find module '" + id + "'");
    }
  }

  @moduleDefs

  @devCdnAppends

  _$_require(_$_mainModuleId);
})();

